.register main{
    width: 350px;
    background-color: rgba(245, 245, 245, 0.541);
    margin: 0 auto;
}

.register h1{
    text-align: center;
}

.register .box-form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.register h4{
    margin: 20px 0;
}

.register .box-form input, select{
    margin: 5px 0;
}

.register .box-form small{
    color: red;
}

.register .options{
    display: flex;
    justify-content: space-between;
}

.register .options label{
    font-size: 15px;
}

.register .box-form textarea{
    resize: none;
}